*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

html,body{
    height: 100%;
    background: url('../images/capa.jpg') center center no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.clear{clear: both;}

header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo h1{
    font-size: 50px;
    color: white;
    background-color: blue;
}

header nav ul{
    display: flex;
    
}